/* vùng chân trang */
.footer{
    border-top: 1px solid #000;
    height: auto;
    text-align: center;
    background-color: #fff3f3;
} 

.footer__list{
    font-size: 1.4rem;
    color: #ccc;
    padding: 15px 0;
}